.prismatic-burst-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: transparent;
    /* Or whatever default background you want behind the burst */
}